[submodule "tpm"]
	path = dot-tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "opencode-config"]
	path = dot-config/opencode
	url = https://github.com/kksat/opencode-config.git
