test
.DS_Store
dot-tmux/plugins/tmux-sensible
dot-tmux/plugins/tokyo-night-tmux
dot-tmux/plugins/tmux-jump
dot-config/nvim
dot-config/aerc/accounts.conf
dot-ssh/config.d
Library/Preferences/com.raycast.macos.plist
